@model IEnumerable<BookManagement2.Models.Student>
<table class="table table-hover table-bordered" id="TableStudent">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.major.major)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.major.major)
            </td>
            <td>
                <button onclick="Edit(@item.id)" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button onclick="Delete(@item.id)" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"/>
                </button>
            </td>
        </tr>
    }
</table>

